@model iwpProje.Models.mustericagrikayitlari

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çağrı Güncelleme</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/custom-form.css" rel="stylesheet">
</head>
<body>
    <div class="centered-form">
        <div class="form-container">
            <h1 class="text-center">Çağrı Güncelleme</h1>
            <form class="form-group" method="post" asp-action="KayitGuncelle">

                @Html.HiddenFor(m => m.cagriid)

                @Html.TextBoxFor(m => m.asistansicil, new { @placeholder = "Asistan Sicil Numarası", @class = "form-control" })
                <br />
                @Html.TextBoxFor(m => m.gorusmekonusuid, new { @placeholder = "Görüşme Konusu ID", type = "number", @class = "form-control" })
                <br />
                @Html.TextBoxFor(m => m.gorusmedurumid, new { @placeholder = "Görüşme Durumu ID", type = "number", @class = "form-control" })              
                <br />
                @Html.TextBoxFor(m => m.baslamasaati, new { @placeholder = "Başlama Saati (HH:MM)", type = "time", @class = "form-control" })
                <br />
                @Html.TextBoxFor(m => m.bitissaati, new { @placeholder = "Bitiş Saati (HH:MM)", type = "time", @class = "form-control" })
                <br />               
                @Html.TextBoxFor(m => m.cagrisuresi, new { @placeholder = "Çağrı Süresi", type = "number", @class = "form-control" })
                <br />
                @Html.TextBoxFor(m => m.ogunkucagrisayisi, new { @placeholder = "Öğünlük Çağrı Sayısı", type = "number", @class = "form-control" })
                <br />
                @Html.TextBoxFor(m => m.urettigiprim, new { @placeholder = "Ürettiği Prim", type = "number", @class = "form-control" })
                <br />

                <button class="btn btn-primary btn-block">Çağrıyı Güncelle</button>
            </form>
        </div>
    </div>
</body>
</html>
